# Python cache
__pycache__/
.idea
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Model weights (don’t commit)
*.pt
*.h5

# Temporary files
*.tmp
*.temp